LOCALE_DEFAULT=

## DEFINE NUXT MANAGED PRIVATE ENV HERE:
NUXT_APP_BASE_URL=/
NUXT_DEBUG_CONTEXTS=
NUXT_ENDPOINT_API=https://dummyjson.com

## DEFINE NUXT MANAGED PUBLIC ENV HERE:
NUXT_PUBLIC_TOKEN=

## OPTIONAL ENV
# build/production only, default, no need to set in prod
HOST=0.0.0.0
PORT=3000

# development only, default, no need to set
NUXT_HOST=localhost
NUXT_PORT=3000
