@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  font-family: 'Manrope';
}

.container-card {
  box-shadow: 0px 2px 16px 0px #8a8d8f33;
}

/* SelectButton */
.p-selectbutton .p-button {
  border: 1px solid #d1d5db;
}
.p-selectbutton .p-button.p-highlight {
  background: #ffecf0;
  border: 1px solid #ff234b;
  color: #ff234b;
}
